<a href="https://colab.research.google.com/github/begumnadia98/data_analytics/blob/main/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
subjects=['math','history','reading','writing','science']
print(subjects)

['math', 'history', 'reading', 'writing', 'science']

## 2.	Print out those variables by using a for loop

In [ ]:
subjects=['math','history','reading','writing','science']
print(subjects)
for subject in subjects:
  print(subject)

['math', 'history', 'reading', 'writing', 'science']
math
history
reading
writing
science

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
for subject in subjects:
  print("my favorite subject is " +subject)

my favorite subject is math
my favorite subject is history
my favorite subject is reading
my favorite subject is writing
my favorite subject is science

## 4.	Use a for loop to print even numbers from 1-20.

1.   List item
2.   List item

In [ ]:
for x in range (1,21):
  if (x%2==1):continue
  print(x)

2
4
6
8
10
12
14
16
18
20

In [ ]:
numbers=list(range(2,21,2))
print(numbers)
for x in numbers:
  print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
subjects=['math','history','reading','writing','science']
subjects.sort()
print(subjects)

['history', 'math', 'reading', 'science', 'writing']

## 6.	Print out the first three elements of your list.

In [ ]:
subjects=['math','history','reading','writing','science']
print(subjects[0:3])

['math', 'history', 'reading']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
subjects=['math','history','reading','writing','science']
print(subjects[-2:])

['writing', 'science']